body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin: 20px auto;
    width: 300px;
}

input, label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
